{
    languages = (
        {
            name = "Limbu";
            icon = LimbuTemplate;
            predicate = "script == \"limbu\"";
            subGroup = (
                {
                    name = "Letters";
                    coverage = (
                      vowelCarrier-limbu,
                      ka-limbu,
                      kha-limbu,
                      ga-limbu,
                      gha-limbu,
                      nga-limbu,
                      cha-limbu,
                      ca-limbu,
                      ja-limbu,
                      jha-limbu,
                      yan-limbu,
                      ta-limbu,
                      tha-limbu,
                      da-limbu,
                      dha-limbu,
                      na-limbu,
                      pa-limbu,
                      pha-limbu,
                      ba-limbu,
                      bha-limbu,
                      ma-limbu,
                      ya-limbu,
                      ra-limbu,
                      la-limbu,
                      wa-limbu,
                      sha-limbu,
                      ssa-limbu,
                      sa-limbu,
                      ha-limbu,
                      gyan-limbu,
                      tra-limbu,
                    );
                },
                {
                    name = "Marks";
                    coverage = (
                      ai-limbu,
                      ee-limbu,
                      au-limbu,
                      oo-limbu,

                      aa-limbu,
                      e-limbu,
                      i-limbu,
                      o-limbu,
                      kemphreng-limbu,

                      u-limbu,
                      sai-limbu,
                      mukphreng-limbu,
                      anusvara-limbu,
                    );
                },
                {
                    predicate = "subCategory == \"Ligature\"";
                    name = "Ligatures";
                },
                {
                    name = "Figures and Punctuation";
                    coverage = (
                      zero-limbu,
                      one-limbu,
                      two-limbu,
                      three-limbu,
                      four-limbu,
                      five-limbu,
                      six-limbu,
                      seven-limbu,
                      eight-limbu,
                      nine-limbu,
                      exclam-limbu,
                      question-limbu,
                      loo-limbu,
                    );
                },
                {
                    name = "Separators and Symbols";
                    coverage = (
                      dottedCircle,
                      space,
                      nbspace,
                      zerowidthspace,
                      zerowidthjoiner,
                      zerowidthnonjoiner,
                      wordjoiner,
                    );
                }
            );
        },
    );
}
